/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,... 
*/
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* scroll-behavior: smooth; hiệu ứng cuộn trang */
}

/* Common */
.row{
    margin-left: -8px;
    margin-right: -8px;
    /*margin-left: -8px;
    margin-right: -8px; để căn 2 đầu ảnh bằng với thẻ tickets phía trên  */
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}
/* Thây thế clear, tạo ra 1 elements giả */

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.33333%;
}
.text-center{
    text-align: center !important;
}
/* Main */
#main{

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    /* z-index: 1 để nổi header lên trên ảnh */
    /* overflow: hidden; */
    /* overflow: hidden; để ẩn  toàn bộ header khi dùng responsive */
}

#nav{
    display: inline-block;
}

#nav .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
}

#nav li{ 
    position: relative;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav li:hover a {
    /* color: black; */
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    display: block;
}


#nav .subnav{
    display: none; 
    min-width: 160px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0  10px #000;
}
.nav-arrow-down{
font-size: 14px;
}

#header .mobile-home-btn{
    float: left;
    padding: 0 21px;
}

#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px; 
    
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: red;   
}

#header .mobile-home-btn:hover,
#header .mobile-menu-btn:hover{
    background-color: #ccc;   
    cursor: pointer;
}

#header .menu-icon,
#header .home-icon,
#header .search-icon{
    font-size: 20px;
    color: white; 
    line-height: 46px;  
}

#slider1{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; 
    /* 50% của chính nó (rộng =50%dài)  */
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat; 
}
#slider2{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; 
    /* 50% của chính nó (rộng =50%dài)  */
    background: url('../img/slider/slider2.jpg') top center / cover no-repeat; 
}
#slider3{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; 
    /* 50% của chính nó (rộng =50%dài)  */
    background: url('../img/slider/slider3.jpg') top center / cover no-repeat; 
}
/* thêm chuyển slider */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: none;
  }
  .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  .mySlides {
    display: none;
    }
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
       
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
/* end thêm chuyển slider */
#slider1 .text-content,
#slider2 .text-content,
#slider3 .text-content{
    position: absolute;
    bottom: 48px;
    left: 50%;
    /* 50% từ cạnh left */
    transform: translateX(-50%);
    text-align: center;
    color: white;
   
}

#slider1 .text-heading,
#slider2 .text-heading,
#slider3 .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider1 .text-discription,
#slider2 .text-discription,
#slider3 .text-discription{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px black;
}


#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto ;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 30px;

}
#content .section-sub-heading{
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    
}

#content .about-text{
    text-align: justify;
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
    width: 99%;
}

#content .member-list{
    margin-top: 32px;
    
    /* đẩy từ tour dates xuống dưới */
}

.clear{
    clear: both;
}

#content .member-name{
    
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;  
}

.tour-section{
    background-color: #000;
    
}

.text-white{
    color: white !important;
    /* !important là quan trọng nhất
    class này dùng để dùng cho những nơi cần chữ trắng */
}

.tickets-list{
    background-color: white;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px ;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}

.tickets-list .sold-out{
    background-color:#f44336 ;
    color: #fff;
    padding: 3px 4px;
    font-size: 15px;
    margin-left: 16px;
}

.tickets-list .quantity{
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* hình tròn*/
    text-align: center;
    /* căn giữa từ trái sang phải (giống ctrl + E trong word) */
    line-height: 24px;
    /* căn giữa từ trên xuống dưới 24px = chiều cao của khung chứ số cụ thể phía trên height: 24px */
    margin-top: -3px;
    /* căng giữa nguyên hình tròn, chỉ sử dụng khi có float: */
}

/* Places */

.places-list{
    margin-top: 16px;
}


.place-img{
    width: 100%;
    height: 184px;
    display: block;
    /* bỏ khoảng cách đen trắng giữa ảnh và chữ (nền trắng) */
}

.place-img:hover{
     /* opacity: 0.6;   */
     transform: scale(1.5); 
    transition: 0.5s all; 
}

.place-body{
    background: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
    
}
.place-time{
    opacity: 0.6;
    padding-top: 15px;
    
}
.place-desc{
    line-height: 1.5;
    padding-top: 15px;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    padding: 11px 16px ;
    text-decoration: none;
    display: inline-block;
    /* nút cách chữ phía trên */
    margin-top: 15px;
    border: none;  
    
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer; 
     
}
.place-item{
    padding-left: 16px;
    padding-right: 16px;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    
    /* display: flex;
    align-items: center;
    justify-contents: center;
    căn cái modal ở giữa trang web */
}
.modal.open{
    display: flex;
    
}
.modal-container{
    
    background: white;
    width: 900px;
    max-width: calc(100% - 32px);
    /* max-width: calc(100% - 32px); thích nghi khi thu nhỏ trang web lại*/
    min-height: 200px;
    position: relative;
    animation: modalshowdown ease 0.5s;
    /* animation: modalshowdown ease 0.5s; kiểu di chuyển ,di chuyển chậm 0.5 giây */

}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
    font-size: 400;
    font-size: 30px;
    color: white;
} 

.modal-heading-icon {
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    padding: 8px 16px;
    right: 0;
    top: 0;
    color: white;
}

.modal-close:hover{
    cursor: pointer;
    opacity: 0.6;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: #009688;
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.9;

}
.modal-footer{
    padding: 15px;
    text-align: right;
}
.modal-footer a{
    color: #2196f8;
}
@keyframes modalshowdown{
    from {
        opacity: 0;
        transform: translateY(-140px);
        /* vị trí xuất phát */
    }
    to{
        opacity: 1;
        transform: translateY(0);
        /* vị trí kết thúc */
    }
}
/* @keyframes modalshowdown( tên này tự đặt)
dùng để xác định vị trí bán đầu và kết thúc khi xuất hiện của modal, 
modalshowdown sẽ được thêm vào class modal-container */

/* Contact form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 30px;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: #ccc 1px solid;
    width: 100%;
}

.form-submit-btn{
    background-color: black;
    color: white;
    border: 1px solid;
    padding: 10px 16px;
    float: right;
    border: none;
    -webkit-appearance: none;
    
    /* -webkit-appearance: none; dùng cho safari btn ko bị lỗi */
}
.form-submit-btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: black;
    
}

.map-section img{
    width: 100%;
    filter: grayscale(50%)
}

#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}
